<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1">
    <title>
        Command Centre
    </title>
    <script>window.resizefunc = [];</script>
</head>
<body class="fixed-left">
    <script src="./assets/js/common/ubold/modernizr.min.js"></script>

    <!-- Begin page -->
    <div id="wrapper">

        <!-- ========== main content start ========== -->
        <div class="content-page">

            <!-- content -->
            <div class="content">

            </div>
            <!-- content -->

        </div>
        <!-- ========== main content end ========== -->

    </div>
    <!-- scripts -->

</body>
</html>