{% extends "./common/base.html" %}

{% block title %}综合数据查询{% endblock %}

{% block content %}

<div class="container-fluid integrated-data-query">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a href="#standard-query" data-toggle="tab" aria-expanded="true" class="nav-link active">
        标准查询
      </a>
    </li>
    <li class="nav-item">
      <a href="#custom-query" data-toggle="tab" aria-expanded="false" class="nav-link">
        自定义查询
      </a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade show active" id="standard-query">
      <div class="filter">
        <div class="row">
          <div class="col-12" d-f fxd-r fxw-w>

            <div class="radio">
              <input type="radio" id="monthly" :value="0" v-model="queryType" checked>
              <label for="monthly">
                月度数据
              </label>
            </div>

            <div class="radio">
              <input type="radio" id="quarter" :value="1" v-model="queryType">
              <label for="quarter">
                季度数据
              </label>
            </div>

            <div class="radio">
              <input type="radio" id="year" :value="2" v-model="queryType">
              <label for="year">
                年度数据
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12" d-f fxd-r fxw-w>

            <div class="radio">
              <input type="radio" id="all-yubei" :value="0" v-model="areaType" checked>
              <label for="all-yubei">
                全渝北区
              </label>
            </div>

            <div class="radio">
              <input type="radio" id="xz" :value="1" v-model="areaType">
              <label for="xz">
                按行政区
              </label>
            </div>

          </div>
        </div>
        <div class="row" v-if="areaType === 1">
          <div class="col-12" d-f fxd-r fxw-w>

            <div class="checkbox">
              <input id="checkbox0" type="checkbox">
              <label for="checkbox0">
                两江新区
              </label>
            </div>

            <div class="checkbox">
              <input id="checkbox1" type="checkbox">
              <label for="checkbox1">
                兴（石船）工业园区
              </label>
            </div>

            <div class="checkbox">
              <input id="checkbox2" type="checkbox">
              <label for="checkbox2">
                保税港区
              </label>
            </div>

            <div class="checkbox">
              <input id="checkbox3" type="checkbox">
              <label for="checkbox3">
                前沿科技城
              </label>
            </div>

            <div class="checkbox">
              <input id="checkbox4" type="checkbox">
              <label for="checkbox4">
                空港工业区
              </label>
            </div>

            <div class="checkbox">
              <input id="checkbox5" type="checkbox">
              <label for="checkbox5">
                创新经济走廊
              </label>
            </div>

            <div class="checkbox">
              <input id="checkbox6" type="checkbox">
              <label for="checkbox6">
                农业园区
              </label>
            </div>

          </div>
        </div>
      </div>
      <div d-f fxd-c fxd-r-sm>
        <div class="query-tree-wrap">
          <div class="query-tree"></div>
        </div>
        <div fx-auto>

          <div class="tools">
            <form action="" class="form-inline">
              <div class="form-group">报表类型：</div>
              <div class="form-group">
                <select name="" class="form-control">
                  <option value="0">统计表</option>
                  <option value="1">柱状图</option>
                  <option value="2">饼图</option>
                </select>
              </div>

              <div class="form-group ml-3">时段选择：</div>
              <div class="form-group">
                <select name="" class="form-control">
                  <option value="0">统计表</option>
                  <option value="1">柱状图</option>
                  <option value="2">饼图</option>
                </select>
              </div>
            </form>
          </div>

          <table class="table table-striped" v-if="areaType === 0">
            <thead>
              <tr>
                <th></th>
                <th>累计值(亿元)</th>
                <th>累计增长(%)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>地区生产总值</td>
                <td>15,200</td>
                <td>20</td>
              </tr>
              <tr>
                <td>第一产业增加值</td>
                <td>15,200</td>
                <td>20</td>
              </tr>
              <tr>
                <td>第二产业增加值</td>
                <td>15,200</td>
                <td>20</td>
              </tr>
              <tr>
                <td>工业增加值</td>
                <td>15,200</td>
                <td>20</td>
              </tr>
              <tr>
                <td>第三产业增加值</td>
                <td>15,200</td>
                <td>20</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped" v-else>
            <thead>
              <tr>
                <th rowspan="2"></th>
                <th colspan="2">累计值(亿元)</th>
                <th colspan="2">累计增长(%)</th>
              </tr>
              <tr>
                <th>保税港区</th>
                <th>空港工业区</th>
                <th>保税港区</th>
                <th>空港工业区</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>地区生产总值</td>
                <td>18,200</td>
                <td>18,200</td>
                <td>20</td>
                <td>20</td>
              </tr>
              <tr>
                <td>第一产业增加值</td>
                <td>18,200</td>
                <td>18,200</td>
                <td>20</td>
                <td>20</td>
              </tr>
              <tr>
                <td>第二产业增加值</td>
                <td>18,200</td>
                <td>18,200</td>
                <td>20</td>
                <td>20</td>
              </tr>
              <tr>
                <td>工业增加值</td>
                <td>18,200</td>
                <td>18,200</td>
                <td>20</td>
                <td>20</td>
              </tr>
              <tr>
                <td>第三产业增加值</td>
                <td>18,200</td>
                <td>18,200</td>
                <td>20</td>
                <td>20</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="custom-query">
      <div class="query-tree-wrap">
        <div class="query-tree"></div>
      </div>
      <div fx-auto>
      </div>
    </div>
  </div>


</div>
{% endblock %}