html,
body {
  height: 100%;
  min-height: 100%;
  color: #fff;
}

$fz20: 20px;
$fz16: 16px;
$fz13: 13px;

.fz20 {
  font-size: 20px;
}

.fz16 {
  font-size: 16px;
}

.fz13 {
  font-size: 13px;
}

.c1 {
  color: #6ED0FD;
}

.c2 {
  color: #fff;
}

.pos-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.index {
  position: relative;
  flex: 1 1 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  .title {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(#fff, .1);
    position: absolute;
    margin: 0;
    top: 0;
    left: -15px;
    right: -15px;

    img {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
  }

  #bmap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .bottom {
    display: flex;
    align-items: center;
    height: 60px;
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 0;
    background-color: rgba(#000, .2);
    border: 1px solid #6ED0FD;
  }

  .left-data-area,
  .right-data-area {
    min-width: 500px;
    max-width: 500px;
    position: relative;
    z-index: 0;
    margin-bottom: 70px;
    background-color: rgba(#000, .2);
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;

    >div {
      border: 1px solid #6ED0FD;
      margin: 3px 0;
    }

    h5 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 20px;
      padding: 0 15px;
      margin: 15px 0 0 0;
      color: #6ED0FD;
      position: relative;

      span {
        font-size: 16px;
      }
    }
  }

  .left-data-area {
    margin-left: -10px;

    >div {
      flex: 1 1 50%;
      display: flex;
      flex-flow: column nowrap;
    }

    .l-t-1 {

      .list-wrap {
        overflow-x: hidden;
        overflow-y: auto;
      }

      ul {
        padding: 0 15px 0 10px;
        margin-top: 10px;

        li {
          height: 30px;
          display: flex;
          align-items: center;
          flex-flow: row nowrap;

          &:nth-of-type(1),
          &:nth-of-type(2),
          &:nth-of-type(3) {

            .num {
              background-color: #d11e2b;
            }
          }

          .num {
            width: 20px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            background-color: #36757e;
            margin-right: 10px;
          }

          .region {
            flex-basis: 96px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .c-progress {
            height: 18px;
            position: relative;
            flex: 1 1 auto;
            margin: 0 5px;

            div {
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              background: linear-gradient(to right, #0099FF 0, #00FFFF 100%, #FFFFFF 100%);
            }
          }

          .count {
            flex-basis: 60px;
            text-align: right;
            color: #17c9cc;
          }
        }
      }
    }

    .l-t-2 {

      .line-chart {
        flex: 1 1 auto;
        margin-top: 10px;
      }
    }

    .tools {
      position: absolute;
      top: 0;
      left: calc(100% + 10px);
      border: 0;
      font-size: 16px;

      .system-time {
        height: 46px;
        line-height: 46px;
        text-align: center;
        white-space: nowrap;
        width: 210px;
        border: 1px solid #6ED0FD;
      }

      .distribution {
        height: 46px;
        line-height: 46px;
        text-align: center;
        white-space: nowrap;
        width: 160px;
        border: 1px solid #6ED0FD;
        margin-top: 10px;
        position: relative;
        cursor: pointer;

        ul {
          position: absolute;
          top: 100%;
          left: -1px;
          right: -1px;
          border: 1px solid #6ED0FD;
          padding: 5px 0;
          visibility: hidden;
          transition: visibility 0s, opacity .1s linear;
          opacity: 0;

          li {
            height: 28px;
            line-height: 28px;
            cursor: pointer;
            transition: opacity .1s linear;
            opacity: .8;

            &:hover {
              opacity: 1;
            }
          }
        }

        &:hover {

          ul {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }

  .right-data-area {
    margin-right: -10px;

    >div {
      flex: 1 1 33.333337%;
      display: flex;
      flex-flow: column nowrap;
    }

    .r-t-1 {

      .pie-chart {
        flex: 1 1 auto;
        margin-top: 10px;
      }
    }

    .r-t-2 {

      .radar-chart {
        flex: 1 1 auto;
        margin-top: 10px;
      }
    }

    .r-t-3 {

      .list-wrap {
        overflow-x: hidden;
        overflow-y: auto;
      }

      table {
        width: 100%;
        margin-top: 10px;
        font-size: 16px;

        th,
        td {
          text-align: center;
        }

        th {
          padding: 10px 10px;
          color: #AEAEAE;
          font-weight: normal;
        }

        td {
          padding: 8px 10px;
        }

        .ion-arrow-up-a {
          color: #00cc00;
        }

        .ion-arrow-down-a {
          color: #ff0000;
        }
      }
    }

    .tools {
      position: absolute;
      top: 0;
      right: calc(100% + 10px);
      border: 0;
      font-size: 16px;
      text-align: right;

      .weather {
        height: 46px;
        line-height: 46px;
        text-align: center;
        white-space: nowrap;
        width: 210px;
        border: 1px solid #6ED0FD;
        position: relative;
        cursor: pointer;

        img {
          vertical-align: middle;
        }

        .weather-detail {
          position: absolute;
          top: 100%;
          left: -1px;
          right: -1px;
          border: 1px solid #6ED0FD;
          padding: 5px 0;
          text-align: left;
          padding: 0 15px;
          line-height: 30px;
          visibility: hidden;
          transition: z-index 0s, visibility 0s, opacity .1s linear;
          opacity: 0;
          // z-index: 0;
        }

        &:hover {

          .weather-detail {
            visibility: visible;
            opacity: 1;
            // z-index: 1;
          }
        }
      }

      .distribution {
        height: 46px;
        line-height: 46px;
        text-align: center;
        white-space: nowrap;
        width: 160px;
        border: 1px solid #6ED0FD;
        margin-top: 10px;
        position: relative;
        cursor: pointer;
        margin-left: auto;

        ul {
          position: absolute;
          top: 100%;
          left: -1px;
          right: -1px;
          border: 1px solid #6ED0FD;
          padding: 5px 0;
          visibility: hidden;
          transition: visibility 0s, opacity .1s linear;
          opacity: 0;

          li {
            height: 28px;
            line-height: 28px;
            cursor: pointer;
            transition: opacity .1s linear;
            opacity: .8;

            &:hover {
              opacity: 1;
            }
          }
        }

        &:hover {

          ul {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }

  .modal-lg {
    max-width: 1050px !important;

    .modal-content {
      background-color: rgba(#36404a, 1);

      .modal-body {

        .row {
          margin-bottom: 10px;
        }

        #d-b-1 {

          .bar-chart {
            height: 380px;
          }

          table {
            table-layout: fixed;
            width: 100%;

            th,
            td {
              width: 50%;
              padding: 0 20px;
            }

            label {
              display: block;
              height: 30px;
              line-height: 30px;

              input {
                margin-top: 10px;
              }
            }
          }
        }

        #d-b2-1 {

          .bar-chart {
            height: 380px;
          }

          table {
            table-layout: fixed;
            width: 100%;

            th,
            td {
              width: 50%;
              padding: 0 20px;
              height: 30px;
              line-height: 30px;
            }

            th {
              border-bottom: 1px solid #6ED0FD;
            }

            label {
              display: block;
              // height: 30px;
              // line-height: 30px;

              input {
                margin-top: 10px;
              }
            }
          }
        }
      }
    }
  }
}